* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  background: #1f2937;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.top {
  width: 1200px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 100px;
}

.top-header h1 {
  font-size: 24px;
  color: #f9faf8;
}

.top-header ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.top-header a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.top-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.top-body-text {
  width: 450px;
}

.top-body-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.top-body-text p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #e5e7eb;
}

.top-body-text button {
  background: #3882f6;
  padding: 7px 33px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
  color: #f9faf8;
}

.top-body img {
  width: 500px;
  height: 331px;
}

.image-collage-header {
  margin: 50px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.image-collage {
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
}

.image-container {
  width: 150px;
  text-align: center;
  color: #1f2937;
}

.image-container img {
  display: block;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}

.quote {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: #e5e7eb;
}

.quote p {
  width: 800px;
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
}

.quote-author {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
}

.call-to-action {
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  border-radius: 5px;
  margin: 100px;
  background: #3882f6;
  color: #e5e7eb;
}

.call-to-action h1 {
  font-size: 22px;
}

.call-to-action button {
  padding: 5px 30px;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  background: #3882f6;
  color: #e5e7eb;
  font-weight: 600;
}

.footer {
  align-self: stretch;
  padding: 30px;
  text-align: center;
  background: #1f2937;
  color: #e5e7eb;
}
